body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.contact-card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #030303;
    border-radius: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}body {
    font-family: Arial, sans-serif;
    background-color: #514c4cc7;
}

.contact-card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a29f9f61;
    border: 1px solid #00000037;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(75, 70, 70, 0.1);
}

.contact-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 25px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}